<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webex</title>
    <link rel="icon"
        href="https://w7.pngwing.com/pngs/624/811/png-transparent-computer-icons-facebook-social-media-f-logo-cross-brand.png"
        type="image/x-icon">


        <!-- link a los css -->
    <link rel="stylesheet" href="/stylesheets/agregarPost.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->



    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <%-include("partials/header") %> 

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">

              <!-- EMPIEZA FORM -->

              <!-- <form action="agregar" method="POST">

                <label for="">url perfil</label><br>
                    <input type="text" name="url_perfil" id=""><br>

                    <label for="">descripcion del post</label><br>
                    <input type="text" name="" id="texto_post"><br>

                    <label for="">Fecha</label> <br>
                    <input type="date" name="fecha_creacion"> <br> -->

                    

                    <!-- <button type="submit">Crear post</button> -->
                
                

                    
                            
                                </form>
                                <!-- TERMINA FORM -->


            </div>
        </div>
    </main>
    

   
</body>
<form action="/post/agregarPost" method="POST">
<div class="uk-margin">
    <span class="uk-text-middle">elegui la foto</span>
    <div uk-form-custom>
        <input type="file" >
        <span class="uk-link">upload here!</span>
    </div>
</div>

<div class="uk-margin" uk-margin>
    <div uk-form-custom="target: true">
        <!-- <input type="text"> -->
        <input class="uk-input uk-form-width-medium" type="text" placeholder="Paste image link" name="url_perfil">
    </div>


    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Texto descriptivo</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" placeholder="escriba aqui"
                name="texto_post">
        </div>
    </div>
    <button class="uk-button uk-button-default">Submit</button>
</div>
</div>
</form>




<%- include("partials/footer") %>
</body>

</html>
