<!DOCTYPE html>
<html lang="en">

    <%-include("headerDeslogueado") %> 

<body>


    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">



                <!-- ACA HACEMOS EL FORM -->
                <form action="">


                    <h2>(Formulario de login)</h2>
                
                
                </form>

                
            </div>
        </div>
    </main>

    <%-include("footer") %> 


</body>

</html>