<header class="uk-background-primary">
    <section class=" uk-container uk-container-large">
        <div class="">
            <nav class="" uk-navbar>
                <div class="uk-navbar-left">
                    <h2 class="logo"><a href="/post/home">WEBEX</a></h2>
                </div>
                <div class="uk-navbar-center">
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li><a href="/post/home">Home</a></li>
                        <li><a href="/post/agregar">Postear</a></li>

                        <% if (usuarioLog == undefined) { %>

                        <li><a href="/user/registracion">Registración</a></li>
                        <li><a href="/user/Login">Login</a></li>

                        <% } else { %>

                        <li><a href="/user/miPerfil">Perfil de <%=usuarioLog.nombre%></a></li>

                            
                        <li><a href="/user/Logout">Logout</a></li>

                        <% } %>

                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li>
                            <form action="/resultado" class="uk-search uk-search-default" method="GET">
                                <span uk-search-icon></span>
                                <input name="buscador" type="search" class="uk-search-input" placeholder="Buscar...">
                            </form>
                        </li>
                    </ul>
                </div>

                <!-- link al css -->
                <link rel="stylesheet" href="/stylesheets/header.css">


            </nav>
        </div>
    </section>
</header>