footer{
    height: 40px;
    color:rgb(0, 128, 38);
    padding: 0 10px;
    background-color: purple;
}

footer ul{
    list-style: none;
}

footer ul li{
    margin-top: 0;
    color: black;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
}