*{
    box-sizing: border-box;

}
main{
    margin-bottom: 40px;


    font-weight: normal;
    font-size: 20px;
    font-family: Arial;
    text-transform: lowercase;

    background-image: white;
    /* background-image: url("https://media.giphy.com/media/6nFKE6LmON4UD8vRRf/giphy.gif"); */







    /* ESTO NO FUNCIONA */
    /* color: #747377; */


}




