*{
    box-sizing: border-box;

}
main{
    margin-bottom: 40px;


    font-weight: normal;
    font-size: 20px;
    font-family: Arial;
    text-transform: lowercase;

    background-color: white;





    /* ESTO NO FUNCIONA */
    /* color: #747377; */


}




