.info-usuario .foto-perfil{
    border-radius: 50%;
}

.info-usuario .red-usuario{
    list-style: none;
    padding: 0  ;
}

.foto-perfil{

    width: 100px;
    height: 100px;
    object-fit: cover;
}

.foto-perfiles{
    width: 200px;
    height: 200px;
    object-fit: cover;
}



.muro{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid lightgray;
}
.muro .link-detalle{
    color: gray;
    text-decoration: none;
}
